name: cd

on:
  push:
    branches: [main]

jobs:
  Deploy:
    runs-on: ubuntu-latest


    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

    - name: Build the app
      run: scripts/buildprod.sh
  
